<main>
    <div>
        <h1>Introducing RythmFlow:</h1>
        <h3>Unleash Your Musical Potential</h3>
    </div>
    <div>
        <p>
            Level up your music production with RythmFlow! 
            Ready to enhance your music-making process? 
            RythmFlow is the ultimate project management software designed for musicians. 
            Streamline your workflow, collaborate effortlessly, and unleash your creative genius.<br>
            Help us shape the future of RythmFlow by sharing your valuable insights. 
            Take our user-friendly survey now and be part of the musical revolution.<br>
        </p>

        Take the Survey 👇🏼
    </div>
    <div>
        <button>SURVEY</button>
    </div>
</main>